<h1>Customer Lifecycle Management: <i>Redefined</i></h1>
<h2>Discover a groundbreaking new way to maximize revenue from your customers</h2>
<p><%= link_to 'Get Started!', new_user_registration_path, class: 'btn btn-primary sign-up' %></p>
